*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before, *::after{
    padding: 0;
    margin: 0;
}
:root{
    --darkviolet: #20173d;
    --lightviolet: #513c9f;
    --darkgray: #121212;
    --lightgray: #515C6F;
    --white: #ffffff;
    --darkwhite: #cecaca;
    --lightshadow: #ded6f8;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(var(--lightviolet) 0%, var(--darkgray) 100%);
}
.outerBox{
    width: 500px;
    padding: 25px 30px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    background: var(--white);
    box-shadow: 0px 6px 15px var(--lightbshadow);
}
.top-bar{
    font-size: 35px;
    font-family: Poppins-bold;
    color: var(--lightviolet);
    text-align: center;
}
.cover-area{
    width: 100%;
    height: 256px;
    overflow: hidden;
    margin-top: 25px;
    border-radius: 15px;
    box-shadow: 0px 6px 12px var(--lightbshadow);
}
.cover-area img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.song-details{
    text-align: center;
    margin: 30px;
}
.song-details p{
    color: var(--darkgray);
    font-family: Poppins;
}
.song-details .name{
    font-size: 1.5em;
}
.song-details .artist{
    font-size: 1.2em;
    opacity: 0.9;
}

.progress-area{
    height: 6px;
    width: 100%;
    border-radius: 50px;
    background: var(--lightgray);
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10%;
}
.progress-area .progress-bar{
    height: inherit;
    width: 0%;
    position: relative;
    border-radius: inherit;
    background: linear-gradient(90deg, var(--lightviolet) 0%, var(--lightshadow) 100%);
}
/* Circle on the progress bar */
.progress-bar::before{
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    top: 50%;
    right: -5px;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
    background: inherit;
    transition: opacity 0.2s ease;
}
.progress-area:hover .progress-bar::before{
    opacity: 1;
    pointer-events: auto;
}
.progress-area .song-timer{
    margin-top: 2px;
}
.song-timer span{
    font-size: 13px;
    font-family: Poppins;
    color: var(--darkgray);
}
.controls{
    margin: 40px 0 5px 0;
}
.controls i{
    font-size: 18px;
    font-family: Poppins;
    user-select: none;
    background: linear-gradient(var(--darkgray) 0%, var(--darkviolet) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.progress-area .song-timer, 
.controls, .music-list .header, .music-list ul li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls i:nth-child(2),
.controls i:nth-child(4){
  font-size: 43px;
  font-family: Poppins;
}
.controls #prev{
  margin-right: -13px;
}
.controls #next{
  margin-left: -13px;
}
.controls .play-pause{
    height: 54px;
    width: 54px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(var(--lightgray) 0%, var(--darkgray) 100%);
    box-shadow: 0px 0px 5px var(--lightshadow);
}
.header .row{
    align-items: center;
    font-size: 14px;
    font-family: Poppins;
    color: var(--darkgray);
    width:100%;
    display: flex;
    justify-content: space-between;
}
.header .row i{
    cursor: pointer;
}
.header .row span{
    margin-left: 5px;
}
.header #close{
    font-size: 22px;
    font-family: Poppins;
    color: var(--lightgray);
}
.outerBox i{
    cursor: pointer;
}
.music-list2{
    background: var(--lightshadow);
    width: 300px;
    pointer-events: auto;
    padding:1em;
    font-family: Poppins;
}
.music-list2 ul{
    margin: 10px 0;
    max-height: 260px;
    overflow: auto;
}
.music-list2 ul::-webkit-scrollbar{
    width: 0px;
}
.music-list2 ul li{
    list-style: none;
    display: flex;
    cursor: pointer;
    padding-bottom: 10px;
    margin-bottom: 5px;
    color: var(--lightgray);
    border-bottom: 1px solid #E5E5E5;
}
.music-list2 ul li:last-child{
    border-bottom: 0px;
}
.music-list2 ul li .row span{
    font-size: 16px;
}
.music-list2 ul li .row p{
    opacity: 0.9;
}
.music-list2 .header, .music-list2 ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul li .audio-duration{
    font-size: 14px;
}
ul li.playing{
    pointer-events: none;
    color: var(--white);
}
.sort {
    cursor: pointer;
}
.filter-menu{
    display: none;
}
.filter-menu.show {
    display: block;
}

.control-icons {
    position: relative;
    top: 25%;
    width: 75%;
    height: 50%;
    margin-left: 33%;
    padding-top: 20px;
}
.control-icons > img {
    height: 70px;
    padding: 10px 20px 10px 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-family: arial, sans-serif;
  }
  
td, th {
    text-align: left;
    border: 1px solid #dddddd;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

.filter-icon {
    color: gray;
    padding-right: 5px;
}

.filter-box {
    width: 85%;
    padding: 2px;
    border: 0px;
}

.audio-row:hover {
    background-color: #3d2f72;
    color: white;
}
.audio-row {
    cursor: pointer;
}

/* Style buttons */
.btn {
    background-color: #3d2f72;
    border: none;
    color: white;
    padding: 13px 13px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    display: inline-flex;
    border-radius: 50%;
}
  
/* Darker background on mouse-over */
.btn:hover {
    background-color: #534487;
}